:root {
  --texto-menu: #4a4a4a;
  --color-fondo-main: #3cdbc0;
  --color-texto-main: #ffffff;
  font-family: "Rubik", sans-serif;
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.logo {
  width: 155px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.lista {
  display: flex;
}
.menu {
  margin-left: 20px;
  margin-bottom: 13px;
  font-size: 16px;
  color: var(--texto-menu);
}
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo-main);
}
.h1 {
  color: var(--color-texto-main);
  font-size: 30px;
  font-weight: 700;
  width: 200px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .logo {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .menu{
    margin-bottom: 0px;
  }
  .lista {
    margin-right: 30px;
  }
  .h1 {
    font-size: 40px;
  }
}
